{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "solid", "prettier"],
  "extends": ["plugin:@typescript-eslint/recommended",  "plugin:solid/typescript", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "eqeqeq": "error",
    "func-style": ["error", "expression", { "allowArrowFunctions": true }],
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }]
  },
  "noInlineConfig": true
}